.icon {
    font-size:1.5em;
}

.header {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
}
.container.main {
    margin-top: 7em
}

.date {
    font-family: 'Gotu', sans-serif;
}


.contentImg{
    margin-bottom: 10px;
}

.contentDescription {
    font-family: 'Noto Serif TC', serif;
    font-size: 1.2em;
    text-align: justify;
    margin: 20px auto;
}